* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* CSS GENERAL  */

a {
  font-family: sans-serif;
  text-decoration: none;
  color: #242424;
}

a:hover {
  color: #213F48;
  text-decoration: underline;
}

h1 {
  font-size: 13vw;
  color: rgb(255, 255, 255);
  font-family: 'Lobster', cursive;
}

h2 {
  padding-bottom: 0.3em;
  font-size: 3.5vw;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 2.6vw;
  padding-bottom: 0.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.1rem black;
  border-radius: 0rem 0rem 1rem 1rem;
  z-index: 1;
}

.menu {
  display: flex;
  list-style: none;
}

.item_menu {
  margin-left: 1rem;
  margin-right: 1rem;
}



/* CSS GENERAL */




/* ////////////////////////////////////// INICIO    //////////////////////////////////// */

.fondo {
  height: 60vw;
  background-image: url(/29133.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondo :nth-child(1) {
  display: block;
  justify-content: center;
  text-align: center;
}

.subtitulo {
margin-top: 0.5rem;
padding: 0.5rem;
border-top: white 6px solid;
width: 70vw;
}

.contenido_inicio {
  width: 80vw;
  margin: auto;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 3rem;
  padding: 2rem 0rem 0rem 0rem;
  color: #333333;
}

.contenido_inicio :nth-child(1) {
  font-size: 4.6vw;
}

.contenido_inicio :nth-child(2) {
  font-size: 2.6vw;
}

.links {
  background-color: #213F48;
}

.cards {
  display: flex;
  justify-content: center;
}

.cards :last-child {
  padding-left: 10px;
  padding-right: 10px;
}

.cards_izquierda {
  width: 25vw;
  height: 30vw;  
  border-radius: 1rem;
  margin: 0rem 2rem 0rem 0rem;
  background: linear-gradient(to right, #6aa17b, rgb(127, 196, 121));
  box-shadow: 6px 7px 1px 1px rgba(119, 119, 119, 0.2);
  text-align: center;
}

.cards_centro {
  width: 25vw;
  height: 30vw;  
  border-radius: 1rem;
  margin-top: 1.5rem;
  background-color: rgb(127, 196, 121);
  box-shadow: 0px 7px 1px 0px rgba(119, 119, 119, 0.2);
  text-align: center;
}

.cards_derecha {
  width: 25vw;
  height: 30vw;  
  border-radius: 1rem;
  margin: 0rem 0rem 0rem 2rem;
  background: linear-gradient(to left, #6aa17b, rgb(127, 196, 121));
  box-shadow: -7px 7px 1px 0px rgba(119, 119, 119, 0.2);
  text-align: center;
}

.p_card {
  font-size:  2vw;
}

.icono {
  width: 14vw;
  display: block;
  margin: auto;
  padding-top: 0.5rem;
}

.cards :nth-child(2) {
  color: white;
}

.cards :nth-child(3) {
  color: white;
}




/* ////////////////////////////////////////// ILUSTRACIONES //////////////////////////////////// */

#beneficios {
  margin-top: 5rem;
  padding-top: 5rem;
}

.seccion_info_1 {
  width: 80vw;
  height: 30vw;
  border: #2c6e4a 3px solid;
  margin: auto;
  display: flex;
  box-shadow: 6px 7px 1px 1px rgba(119, 119, 119, 0.2);
  padding: 1rem;
}

.texto_info {
  padding-top: 1rem;
  
}

.texto_info :nth-child(1) {
  font-size: 3vw;
  color: #333333;
}

.texto_info :nth-child(2) {
  font-size: 2vw;
  color: #333333;
}

.seccion_info_2 {
  width: 80vw;
  height: 30vw;
  border: #2c6e4a 3px solid;
  margin: auto;
  display: flex;
  box-shadow: 6px 7px 1px 1px rgba(119, 119, 119, 0.2);
  padding: 1rem;
  padding-right: 2rem;
  margin-bottom: 9rem;
}

.primera_ilustracion {
  width: 30vw;
}

.segunda_ilustracion {
  width: 30vw;
}













/* //////////////////////////////////////  BENEFICIOS   //////////////////////////////////// */

.contenido_beneficios {  
  height: 170vw;
  text-align: center;
  color: rgb(255, 255, 255);
  background-size: 320%;
  margin-top: 9vw;
  margin-bottom: 9rem;
  background-image: url(/beneficios.svg);
}

.titulo_beneficios {
  padding: 4rem 0rem 0rem 0rem;
}

.TODO {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.icono_beneficios {
  border-radius: 10px;
  background-size: 1000px;
  background: linear-gradient(to top, #467956, rgb(120, 187, 114));
  border: white 4px solid;
}

.pastilla_beneficios_izquierda {
  display: flex;
  width: 60vw;
  height: 18vw;
  background-color: rgb(255, 255, 255);
  color: #333333;
  border-radius: 10px;
  text-align: left;
  margin: 30px 20px 0px 0px;
  border: rgb(15, 139, 79) 2px solid;
}

.pastilla_beneficios_derecha {
  display: flex;
  width: 60vw;
  height: 18vw;
  background-color: rgb(255, 255, 255);
  color: #333333;
  border-radius: 10px;
  margin: 30px 20px 0px 0px;
  border: rgb(15, 139, 79) 2px solid;
}

.pastilla_beneficios_izquierda :last-child {
  padding: 0.3rem 0.3rem 0rem 0.1rem;
}

.pastilla_beneficios_derecha :first-child {
  padding: 0.1rem 0.1rem 0rem 0.1rem;
  text-align: right;
}

.pastilla_beneficios_unica {
  width: 60vw;
  height: 18vw;
  background-color: rgb(255, 255, 255);
  color: #333333;
  margin: 50px 30px 0px 0px;
  display: flex;
  border-radius: 10px;
  border: rgb(15, 139, 79) 2px solid;
  text-align: right;
}

.pastilla_beneficios_unica :first-child {
  padding: 0.1rem 0.1rem 0rem 0.1rem;
}







/* /////////////////////////////////////////////////////// MAS INFORMACION //////////////////////////////////////////////////// */

.contenido_informacion {
  background-image: url(/fondo-video.svg);
  background-repeat: no-repeat;
  background-size: 120%;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.texto_informacion {
  color: white;
  text-align: center;
  width: 60vw;
}

.texto_informacion :nth-child(2) {
  font-size: 2.5vw;
}

.texto_informacion :first-child {
  padding-top: 2rem;
}

.texto_informacion :last-child {
  margin-top: 2rem;
  width: 60vw;
  height: 30vw;
  border-radius: 10px;
  border: white 3px solid;
}








/* /////////////////////////////////////////////////////// CONTACTO //////////////////////////////////////////////////// */


form {
  margin: 0 auto;
  width: 20rem;
  padding: 1rem;
  background-image: url(/patron.jpg);
  background-size: 150%;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 7rem;
  border-radius: 5px;
  border: #213F48 3px solid;
}

.control {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}

.formulario {
display: flex;
justify-content: center;
margin-top: 7rem;
margin-bottom: 0.5rem;
}


















/* /////////////////////////////////////////////////////////// FOOTER ///////////////////////////////////// */


footer {
  height: 25vw;
  display: flex;
  color: white;
  font-size: 2.15vw;
  justify-content: center;
  background: linear-gradient(to top, #467956, rgb(120, 187, 114));
}

.alumno {
  padding-left: 10px;
  padding-right: 10px;
}

.datos {
  margin-top: 2rem;
  margin-right: 1rem;
}

.redes {
  margin-top: 3rem;
  width: 5vw;
  color: white;
}
